/* --- FIXES FOR MAIN --- */
body, main {
  margin: 0;
  padding: 0;
}

.navigation-tabs{
    margin-bottom: 0px;
    height: 95%;
}

.content-tab-container{
  padding-top: 0px;
  height: calc(100vh - 42px);
  width: 100vw;
  overflow: hidden;
  background-color: #555555;
}

.content-iframe{
    width: 100vw; 
    height: calc(100vh - 42px);
    border: 0px;
    margin-top: 0px;
    user-select: none;
    overflow: hidden;
}
iframe:focus {
  outline: none;
}

.content-search-program{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    margin-top: 150px;
}

.content-search-program-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
}

main{
  background-color: #1d1d1d !important;
}
/* ANTD COMPONENT OVERRIDE */

.ant-tabs-nav-add{
  background-color: rgb(43, 43, 43) !important;
}

/* --- CUSTOM TITLEBAR CSS --- */

.promessicon{
  height: 20px;
}

.titlebar {
  height: 40px;
  background: #1f1f1f00;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}

.titlebar-button:hover {
  background: #47979E;
}

/* #086f79 */
/* #47979E */